@{
    ViewData["Title"] = "Главная страница";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Tailwind + Шрифты + Иконки -->
    <script src="/js/tailwindcss.js"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#6B46C1',
                secondary: '#9F7AEA',
                oceanBlue: '#4834D4',
                lavaRed: '#B83280'
              },
              borderRadius: {
                'button': '8px'
              }
            }
          }
        };
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/remixicon.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
</head>
<body>
    @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "html", "index.html")))
</body>
</html>